doctype
html
head
  script(src="//www.parsecdn.com/js/parse-1.3.4.min.js")
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  meta(property="og:title", content=properties.title)
  meta(property="og:description", content=properties.description)

  link(rel='stylesheet', href='style/index.css')

  title=properties.title

  script(src="js/app.min.js")

  include analytics.jade

body
  #game
    #inserttext
        h1(id="title")
        h2(id="subtitle")
        h3(id="scoretext")
        form(id="upload" name="login", action="", method="post")
            input(id="playername" name="playername",type="text", value="Mr. Pink")
            input(type="submit", value="Submit")
            
    #scoreboard
        ol(id="scores")
        a(id="restart" href="#") Restart

  if (!productionBuild)
    script.
      document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');
