doctype
html
head
  script(src="//www.parsecdn.com/js/parse-1.3.4.min.js")
  link(rel="icon",type="image/png",href="images/icon.png")
  link(rel="apple-touch-icon",href="images/icon-mobile.png")
  link(rel="apple-touch-icon",sizes="76x76",href="images/icon-mobile-76.png")
  link(rel="apple-touch-icon",sizes="120x120",href="images/logo-mobile-120.png")
  link(rel="apple-touch-icon",sizes="152x152",href="images/logo-mobile-152.png")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

  meta(property="og:title", content=properties.title)
  meta(property="og:description", content=properties.description)

  link(rel='stylesheet', href='style/index.css')

  title=properties.title

  script(src="js/app.min.js")

  include analytics.jade

body
  #game
    #inserttext
        h1(id="title")
        h2(id="subtitle")
        h3(id="scoretext")
        form(id="upload",name="login", action="", method="post")
            input(id="playername",name="playername",type="text", value="Mr. Pink")
            input(id="submit",type="submit", value="Submit")
            
    #scoreboard
        ol(id="scores")
        form(id="restartform", action="", method="post")
            input(id="restart",type="submit",value="Restart")

  if (!productionBuild)
    script.
      document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');
