doctype
html
head
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

  meta(property="og:title", content=properties.title)
  meta(property="og:description", content=properties.description)

  link(rel='stylesheet', href='style/index.css')

  title=properties.title

  script(src="js/app.min.js")

  include analytics.jade

body
  #game
    #inserttext
        h1(id="title")
        h2(id="subtitle")
        h3(id="scoretext")
        form(id="upload",name="login", action="", method="post")
            input(id="playername",name="playername",type="text", value="Mr. Pink")
            br
            input(id="submit",type="submit", value="Submit")
            input(id="fastrestart",type="submit",value="Retry")
            
    #scoreboard
        h2(id="leader")
        ol(id="scores")
        form(id="restartform", action="", method="post")
            input(id="restart",type="submit",value="Retry")

  if (!productionBuild)
    script.
      document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');
